Source: xvidcap
Section: x11
Priority: optional
Maintainer: Karl H. Beckers <karl.h.beckers@gmx.net>
Standards-Version: 3.6.1
Build-Depends: debhelper (>> 3.3.4), libgtk2.0-dev,
 libmp3lame-dev | liblame-dev, libglade2-dev, libxmu-dev,
 gnome-doc-utils, libxml-perl, docbook2x, gettext, libogg0,
 libogg-dev, libtheora0, libtheora-dev

Package: xvidcap
Architecture: any
Depends: ${shlibs:Depends}, scrollkeeper, imagemagick
Suggests: yelp
Description: Screen video capture for X
 A screen capture enabling you to capture videos off your X-Window desktop
 for illustration or documentation purposes. It is intended to be a
 standards-based alternative to tools like Lotus ScreenCam.
 .
 Video can be saved in MPEG or AVI files format.
